#parent{
    width: 1263px;
    height: 570px;
}
#header{
    width: 1250px;
    height: 70px;
    background-color: #3f78e0;
}
.head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 31px;
}
.iconify{
    position: relative;
    top: 2px;
}
#location{
    left: 50px;
}
#number{
    left: 820px;
}
#email{
    left: 1000px;
}
#icon{
    position: relative;
    width: 150px;
    left: 80px;
    top: 30px;
}
#navbar,#stick{
    position: sticky;
    top: 0px;
    z-index: 10;
}
#stick{
    height: 90px;
    background-color: white;
}
#bar ul li, #navbar a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color:black;
    display: inline;
    padding-right: 10px;
}
#navbar a{
    text-decoration: none;
}
#bar{
    text-align: center;
    position: relative;
    width: auto;
    top: -15px;
}
#en{
    position: relative;
    left: 500px;
    top: -50px;
}
#contact{
    position: relative;
    left: 500px;
    top: -53px;
    font-size: large;
    font-weight: bolder;
    color: white;
    background-color: #3f78e0;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    border: none;
}
#body{
    height: auto;
    width: 500px;
    padding-left: 80px;
}
#body-img{
    height: auto;
    width: 600px;
    position: relative;
    left: 600px;
    top: -420px;
}
h2{
    font-size: 50px;
    color: #354053;
}
h3{
    font-size: 25px;
    color: #616a7c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
#explore, #trial{
    font-size: medium;
    font-weight: 500;
    color: white;
    background-color: #3f78e0;
    height: 55px;
    border-radius: 30px;
    font-weight: bold;
}
#explore{
    color: white;
    background-color: #417ae0;
    border: none;
    width: 150px;
}
#trial{
    color: #417ae0;
    background-color: white;
    border: 2.5px solid #417ae0;
    width: 130px;
    position: relative;
    left: 8px;
}
#trial:hover{
    color: white;
    background-color: #417ae0;
    border: 2.5px solid black;
}
#bg_dot{
    font-size: 30px;
    font-weight: bold;
    line-height: 0.5;
    color: #afc5ee;
    position: relative;
    top: -30px;
}
#main{
    width: 500px;
    border-radius: 10px;
    box-shadow: 50px 50px 5px #f1f5fd;
    position: relative;
    top: -197px;
    left: 45px;
}